@model Project_01.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StuNameC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StuNameC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StuNameE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StuNameE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StuIdno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StuIdno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StuEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StuEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StuGender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StuGender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StuBirthday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StuBirthday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StuYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StuYear)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StuId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
